<!--Making a separate html page to facilitate multiple places where we might have to use this info-->

<!--Need to fix: 
    1. -->
<div class = 'border-bottom row'> 
    <div class = 'col-9'>
        <h5>{{ job['title']}}</h4>
        <div>
            Location: {{ job['location']}}
        </div>
        {% if 'salary' in job %}
        <div>
            Salary: {{ job['salary']}}
        </div>
        {% endif %}
    </div>
    <div class = 'col-3'>
        <button type = 'button' class = 'btn btn-outline-primary' style = 'margin-top:10px'> Apply </button>
    </div>
</div>